.quiz {
	background: RGB(225, 39, 39);
}

.quiz form#quiz h3 {
	font-size: 16px;
}

.quiz form#quiz div {
	color: #000000;
	font-size: 16px;
}

.quiz form#quiz fieldset {
	background: RGB(241, 162, 56);
	border: 5px solid #FFFFFF;
	color: #000000 font-size : 16px;
	font-weight: normal;
}

.quiz form#quiz legend {
	background: rgb(241, 162, 56);
	color: #000000;
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px;
	box-shadow: 0 0 0 5px #FFFFFF;
	margin-left: 20px;
	padding: 5px 10px;
}


form#quiz label {
	color: #000000;
	font-size: 14px;
	font-weight: normal;
}

.infoPage {
	background: RGB(225, 39, 39);
}

.infoPage nav {
	background: rgb(241, 162, 56);
	border: 1px solid #dedede;
	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #888;
	display: block;
	list-style-type: none;
	overflow: hidden;
	text-align: center;
	width: 100%;
}

.infoPage ul, li {
	list-style-type: none;
}

.homepage {
	background: RGB(225,39,39);
}

.homepage nav {
	background: rgb(241, 162, 56);
	border: 1px solid #dedede;
	border-radius: 4px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	color: #888;
	display: block;
	overflow: hidden;
	text-align: center;
	text-size: 16px;
	width: 100%;
}

.homepage ul, li {
	list-style-type: none;
}

.homepage #titleText {
	text-align: center;
}

h1, p {
	color: #FFFF33;
	*text-align: center;
}

a.Graduate {
	display: none;
}

input:required {
	background: hsl(180, 50%, 90%);
	border: 1px solid #999;
}

input:valid, input:in-range {
	background: hsl(120, 50%, 90%);
	border-color: hsl(120, 50%, 50%);
}

input:invalid, input:out-of-range {
	border-color: hsl(0, 50%, 50%);
	background: hsl(0, 50%, 90%);
}

#bodyContent li:before {
	display: block;
	position: relative;
	max-width: 0px;
	max-height: 0px;
	color: #EE300C;
	content: '\2022';
	font-size: 26px;
	left: -.5em;
	top: 0;
}

.detailsForm {
	background: RGB(225, 39, 39);
}

form#studentinfo {
	background: RGB(225,39,39);
}

form#studentinfo fieldset {
	background: rgb(241, 162, 56);
	color: #000000;
	border: 5px solid #FFFFFF;
	font-size: 16px;
	font-weight: normal;
}

form#studentinfo legend {
	background: rgb(241, 162, 56);
	color: #000000;
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px;
	box-shadow: 0 0 0 5px #FFFFFF;
	margin-left: 20px;
	padding: 5px 10px;
}

form#studentinfo label {
	color: #000000;
	font-weight: bold;
}

form#studentinfo input, select, button {
	-webkit-box-sizing: border-box; /* For legacy WebKit based browsers */
	-moz-box-sizing: border-box; /* For all Gecko based browsers */
	box-sizing: border-box;
}

.button {
	/*adjust the roundness*/
	border-radius: 4px;
	moz-border-radius: 4px;
	webkit-border-radius: 4px;
	/*adjust height and width*/
	margin-left: auto;
	margin-right: auto;
	height: 40px;
	width: 40px;
	/*change border colour*/
	border: 1px #245ec6 solid;
}

.button:hover {
	border-radius: 4px;
	moz-border-radius: 4px;
	webkit-border-radius: 4px;
	background: #808080;
	cursor: pointer;
}
